node_modules
cache
.idea

# ignore non repo contract related aritifacts
.openzeppelin/unknown-298.json
.env
test-results.*
contracts-abi/*
!contracts-abi/contracts

# Ignore all default artifacts
artifacts/contracts/*
artifacts/build-info
artifacts/@openzeppelin
artifacts/@hiero-ledger
artifacts/contracts/**/**/*.dbg.json

!artifacts/contracts/exchange-rate-precompile
artifacts/contracts/exchange-rate-precompile/*
!artifacts/contracts/exchange-rate-precompile/ExchangeRateMock.sol

!artifacts/contracts/util-precompile

!artifacts/contracts/openzeppelin
artifacts/contracts/openzeppelin/*
!artifacts/contracts/openzeppelin/ERC-20
!artifacts/contracts/openzeppelin/ERC-721

## --- Foundry Gitignore ---
# Compiler files
forge-cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/


# Coverage
lcov.info
coverage/

## --- Hardhat Gitignore for Foundry artifacts ---
artifacts/forge-std
artifacts/ds-test
test/state-registry/states.json
test/state-registry/ercStates.json

coverage.json
