name: System Contract Dapp Playground reusable workflow

on:
  workflow_call:
    inputs:
      jobTitle:
        required: true
        type: string
      jobCommand:
        required: true
        type: string

permissions:
  contents: read

jobs:
  dapp-playground:
    runs-on: smart-contracts-linux-large

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Use Node.js [20]
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run ${{ inputs.jobTitle }}
        run: |
          cd ./system-contract-dapp-playground
          npm install
          if [[ "${{inputs.jobTitle}}" == "abi regression test" ]]; then
            result=$(npm run prerequisite-check 2>&1) # redirecting standard error (file descriptor 2) to standard output (file descriptor 1).
            echo "$result"

            # Check if the output does not contain "Validation successful! Contract assets are available!" => FAILED case
            if ! echo "$result" | grep -q "Validation successful! Contract assets are available!"; then
              echo "Test failed: CONTRACT ASSETS UNAVAILABLE"
              exit 1
            fi
          else 
            ${{inputs.jobCommand}}
          fi
