name: Foundry Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: smart-contracts-linux-large
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - name: Use Node.js [20]
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 20
          #cache: npm Disabling this because it causes the workflow to hang and eventually timeout

      - name: Create .env file
        run: cp local.env .env

      - name: Install dependencies
        run: npm ci

      - name: Install Foundry
        uses: step-security/foundry-toolchain@01e2d127ea061e2ce8fa34340de71ca8518f093e # v1.2.1
        with:
          version: nightly

      - name: Run Forge build
        run: |
          forge --version
          forge build
          forge build
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
