name: Migration Testing

on:
  workflow_dispatch:
    inputs:
      initialNetworkNodeTag:
        description: 'Specify initial Network Node image tag'
        required: true
        default: ''
      initialMirrorNodeTag:
        description: 'Specify initial Mirror-Node image tag'
        required: true
        default: ''
      initialRelayTag:
        description: 'Specify initial Hedera JSON-RPC Relay tag'
        required: true
        default: ''
      targetNetworkNodeTag:
        description: 'Specify target Network Node image tag'
        required: true
        default: ''
      targetMirrorNodeTag:
        description: 'Specify target Mirror-Node image tag'
        required: true
        default: ''
      targetRelayTag:
        description: 'Specify target Hedera JSON-RPC Relay tag'
        required: true
        default: ''
      preMigrationTestTags:
        description: 'Specify pre-migration test tags'
        required: false
        default: '@pre-migration'
      postMigrationTestTags:
        description: 'Specify post-migration test tags'
        required: false
        default: '@post-migration'

jobs:
  check:
    name:
      Migration testing (${{ inputs.preMigrationTestTags }}/${{ inputs.postMigrationTestTags }}) with initial N:${{ inputs.initialNetworkNodeTag }}, M:${{ inputs.initialMirrorNodeTag }}, R:${{ inputs.initialRelayTag }} and
      target N:${{ inputs.targetNetworkNodeTag }}, M:${{ inputs.targetMirrorNodeTag }}, R:${{ inputs.targetRelayTag }}
    runs-on: smart-contracts-linux-large
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          submodules: recursive

      - name: Use Node.js [20]
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          #cache: npm Disabling this because it causes the workflow to hang and eventually timeout

      - name: Create .env file
        run: cp local.env .env

      - name: Install dependencies
        run: npm install

      - name: Install Foundry
        uses: step-security/foundry-toolchain@ced99da5c56c695ce707ab2715ca678d6e8a7038 # v1.4.0
        with:
          version: stable

      - name: Start the local node with N:${{ inputs.initialNetworkNodeTag }}, M:${{ inputs.initialMirrorNodeTag }}, R:${{ inputs.initialRelayTag }}
        run: npx hedera start -d --full --network-tag=${{inputs.initialNetworkNodeTag}} --mirror-tag=${{inputs.initialMirrorNodeTag}} --relay-tag=${{inputs.initialRelayTag}}
        timeout-minutes: 5

      - name: Run pre-migration tests
        run: npx hardhat test --grep ${{ inputs.preMigrationTestTags }}
        timeout-minutes: 15

      - name: Freeze the network
        run: |
          npx hardhat run scripts/freeze-network-node.js
          sleep 30
        timeout-minutes: 5

      - name: Stop docker containers (network node)
        run: docker stop network-node json-rpc-relay json-rpc-relay-ws
        timeout-minutes: 5

      - name: Run the local node with N:${{ inputs.targetNetworkNodeTag }}, M:${{ inputs.targetMirrorNodeTag }}, R:${{ inputs.targetRelayTag }}
        env:
          NETWORK_NODE_IMAGE_TAG: ${{inputs.targetNetworkNodeTag}}
          MIRROR_IMAGE_TAG: ${{inputs.targetMirrorNodeTag}}
          RELAY_IMAGE_TAG: ${{inputs.targetRelayTag}}
          NETWORK_NODE_LOGS_ROOT_PATH: ~/.local/share/hedera-local/network-logs/node
        run: |
          docker compose -f docker-compose-state-migration.yml up -d
          sleep 5
        working-directory: node_modules/@hashgraph/hedera-local/
        timeout-minutes: 5

      - name: Run post-migration tests
        run: npx hardhat test --grep ${{ inputs.postMigrationTestTags }}
        timeout-minutes: 15
