name: Migration Testing

on:
  workflow_dispatch:
    inputs:
      initialNetworkNodeTag:
        description: 'Specify initial Network Node image tag'
        required: true
        default: ''
      initialMirrorNodeTag:
        description: 'Specify initial Mirror-Node image tag'
        required: true
        default: ''
      initialRelayTag:
        description: 'Specify initial Hedera JSON-RPC Relay tag'
        required: true
        default: ''
      targetNetworkNodeTag:
        description: 'Specify target Network Node image tag'
        required: true
        default: ''
      targetMirrorNodeTag:
        description: 'Specify target Mirror-Node image tag'
        required: true
        default: ''
      targetRelayTag:
        description: 'Specify target Hedera JSON-RPC Relay tag'
        required: true
        default: ''
      preMigrationTestTags:
        description: 'Specify pre-migration test tags'
        required: false
        default: '@pre-migration'
      postMigrationTestTags:
        description: 'Specify post-migration test tags'
        required: false
        default: '@post-migration'

jobs:
  check:
    name:
      Migration testing (${{ inputs.preMigrationTestTags }}/${{ inputs.postMigrationTestTags }}) with initial N:${{ inputs.initialNetworkNodeTag }}, M:${{ inputs.initialMirrorNodeTag }}, R:${{ inputs.initialRelayTag }} and
      target N:${{ inputs.targetNetworkNodeTag }}, M:${{ inputs.targetMirrorNodeTag }}, R:${{ inputs.targetRelayTag }}
    runs-on: smart-contracts-linux-large
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
        with:
          submodules: recursive

      - name: Use Node.js [18]
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: 18
          cache: npm

      - name: Create .env file
        run: cp local.env .env

      - name: Install dependencies
        run: npm install

      - name: Install Foundry
        uses: step-security/foundry-toolchain@01e2d127ea061e2ce8fa34340de71ca8518f093e # v1.2.1
        with:
          version: nightly

      - name: Start the local node with N:${{ inputs.initialNetworkNodeTag }}, M:${{ inputs.initialMirrorNodeTag }}, R:${{ inputs.initialRelayTag }}
        run: npx hedera start -d --full --network-tag=${{inputs.initialNetworkNodeTag}} --mirror-tag=${{inputs.initialMirrorNodeTag}} --relay-tag=${{inputs.initialRelayTag}}
        timeout-minutes: 5

      - name: Run pre-migration tests
        run: npx hardhat test --grep ${{ inputs.preMigrationTestTags }}
        timeout-minutes: 15

      - name: Freeze the network
        run: |
          npx hardhat run scripts/freeze-network-node.js
          sleep 30
        timeout-minutes: 5

      - name: Stop docker containers (network node)
        run: docker stop network-node json-rpc-relay json-rpc-relay-ws
        timeout-minutes: 5

      - name: Run the local node with N:${{ inputs.targetNetworkNodeTag }}, M:${{ inputs.targetMirrorNodeTag }}, R:${{ inputs.targetRelayTag }}
        env:
          NETWORK_NODE_IMAGE_TAG: ${{inputs.targetNetworkNodeTag}}
          MIRROR_IMAGE_TAG: ${{inputs.targetMirrorNodeTag}}
          RELAY_IMAGE_TAG: ${{inputs.targetRelayTag}}
          NETWORK_NODE_LOGS_ROOT_PATH: ~/.local/share/hedera-local/network-logs/node
        run: |
          docker compose -f docker-compose-state-migration.yml up -d
          sleep 5
        working-directory: node_modules/@hashgraph/hedera-local/
        timeout-minutes: 5

      - name: Run post-migration tests
        run: npx hardhat test --grep ${{ inputs.postMigrationTestTags }}
        timeout-minutes: 15
