name: Release Production Environment

on:
  push:
    tags: [v*]

permissions:
  contents: read

defaults:
  run:
    shell: bash

env:
  OWNER: hashgraph
  PACKAGE_NAME: hedera-smart-contracts
  REGISTRY: ghcr.io

jobs:
  npm-package-artifact:
    runs-on: [self-hosted, Linux, large, ephemeral]

    steps:
      - name: Checkout repository
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          path: './hedera-smart-contracts'

      - name: Get tag
        run: echo "TAG=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV

      - name: Produce artifact
        run: tar -czf ${{ env.PACKAGE_NAME }}-v${{env.TAG}}.tgz -C ./hedera-smart-contracts .

      - name: Upload artifact
        # There is a bug in v4 of upload-artifact. Recommendation is to remain at v3.
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: ${{ env.PACKAGE_NAME }}-v${{env.TAG}}
          path: ./*.tgz
          if-no-files-found: error
