name: Release Production Environment

on:
  push:
    tags: [v*]

permissions:
  contents: read

defaults:
  run:
    shell: bash

env:
  OWNER: hashgraph
  PACKAGE_NAME: hedera-smart-contracts
  REGISTRY: ghcr.io

jobs:
  npm-package-artifact:
    runs-on: smart-contracts-linux-medium

    steps:
      - name: Checkout repository
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          path: './hedera-smart-contracts'

      - name: Get tag
        run: echo "TAG=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV

      - name: Produce artifact
        run: tar -czf ${{ env.PACKAGE_NAME }}-v${{env.TAG}}.tgz -C ./hedera-smart-contracts .

      - name: Upload artifact
        uses: actions/upload-artifact@604373da6381bf24206979c74d06a550515601b9 # v4.4.1
        with:
          name: ${{ env.PACKAGE_NAME }}-v${{env.TAG}}
          path: ./*.tgz
          if-no-files-found: error
