name: Slither Analysis

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

permissions:
  contents: read
  security-events: write

jobs:
  analyze:
    name: Slither Static Analysis
    runs-on: smart-contracts-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive

      - name: Run Slither
        uses: crytic/slither-action@4fd765aeef19915d04ddf0be90c2930036a774d8 # v0.4.1
        id: slither
        with:
          node-version: 20
          sarif: results.sarif
          fail-on: high
          slither-args: "--include-paths system-contracts"

      - name: Upload SARIF file as artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: slither-results
          path: results.sarif
