name: Solidity Equivalence Tests

on:
  workflow_dispatch:
    inputs:
      filterTagOverride:
        description: 'The Test filter tag to use for overrides'
        required: false
        type: string

concurrency:
  group: tests-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  CustomFilterTagTest:
    if: ${{ inputs.filterTagOverride != ''}}
    name: ${{ inputs.filterTagOverride }} Tests
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ${{ inputs.filterTagOverride }}

  SolidityEquivalence1:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Solidity Equivalence Suite 1
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@solidityequiv1'

  SolidityEquivalence2:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Solidity Equivalence Suite 2
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@solidityequiv2'

  SolidityEquivalence3:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Solidity Equivalence Suite 3
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@solidityequiv3'

  YulEquiv:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Yul Equivalence
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@yulequiv'

  Discrepancies:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Discrepancies Suites
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@discrepancies'

  OpenZeppelinEquiv:
    if: ${{ inputs.filterTagOverride == ''}}
    name: OpenZeppelin Equivalence
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ${{inputs.filterTagOverride}}

  PublishResults:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - SolidityEquivalence1
      - SolidityEquivalence2
      - SolidityEquivalence3

    runs-on: smart-contracts-linux-large
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Download Test Reports
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          pattern: Test Results (*)
          merge-multiple: true

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@4519d7c9f71dd765f8bbb98626268780f23bab28 # v2.17.0
        with:
          check_name: Test Results
          json_thousands_separator: ','
          junit_files: 'test-*.xml'
