name: Solidity Equivalence Tests

on:
  workflow_dispatch:
    inputs:
      filterTagOverride:
        description: 'The Test filter tag to use for overrides'
        required: false
        type: string

env:
  RELAY_IMAGE_TAG: 0.39.0
  NETWORK_NODE_IMAGE_TAG: 0.46.2
  HAVEGED_IMAGE_TAG: 0.46.2
  MIRROR_IMAGE_TAG: 0.96.0

concurrency:
  group: tests-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  CustomFilterTagTest:
    if: ${{ inputs.filterTagOverride != ''}}
    name: ${{ inputs.filterTagOverride }} Tests
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ${{ inputs.filterTagOverride }}

  SolidityEquivalence1:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Solidity Equivalence Suite 1
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@solidityequiv1'

  SolidityEquivalence2:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Solidity Equivalence Suite 2
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@solidityequiv2'

  SolidityEquivalence3:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Solidity Equivalence Suite 3
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@solidityequiv3'

  YulEquiv:
    if: ${{ inputs.filterTagOverride == ''}}
    name: Yul Equivalence
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: '@yulequiv'

  OpenZeppelinEquiv:
    if: ${{ inputs.filterTagOverride == ''}}
    name: OpenZeppelin Equivalence
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ${{inputs.filterTagOverride}}

  PublishResults:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - SolidityEquivalence1
      - SolidityEquivalence2
      - SolidityEquivalence3

    runs-on: ubuntu-latest
    steps:
      - name: Download Test Reports
        uses: actions/download-artifact@v3
        with:
          name: Test Results

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@v2
        with:
          check_name: Test Results
          json_thousands_separator: ','
          junit_files: 'test-*.xml'
