name: Tests CI

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

concurrency:
  group: tests-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  ERC20Contract:
    name: ERC20 Contract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ERC20

  ERC721Contract:
    name: ERC721 Contract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ERC721

  ERC1155Contract:
    name: ERC1155 Contract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ERC1155

  TokenCreateContract:
    name: Token Create Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenCreateContract

  TokenQueryContract:
    name: Token Query Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenQueryContract

  TokenManagmentContract:
    name: Token Managment Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenManagmentContract

  TokenTransferContract:
    name: Token Transfer Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenTransferContract

  Proxy:
    name: Proxy Upgrade Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: Proxy

  SafeHTS:
    name: SafeHTS Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: SafeHTS

  HIP583:
    name: HIP583 Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: HIP583

  Multicall:
    name: Multicall Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: Multicall

  HRC:
    name: HRC Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: HRC

  ShanghaiOpcodes:
    name: ShanghaiOpcodes Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ShanghaiOpcodes

  PrngSystemContract:
    name: PrngSystemContract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: PrngSystemContract

  Discrepancies:
    name: Discrepancies Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: Discrepancies

  PublishResults:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - ERC20Contract
      - ERC721Contract
      - ERC1155Contract
      - TokenCreateContract
      - TokenQueryContract
      - TokenManagmentContract
      - TokenTransferContract
      - Proxy
      - SafeHTS
      - HIP583
      - Multicall
      - HRC

    runs-on: ubuntu-latest
    steps:
      - name: Download Test Reports
        uses: actions/download-artifact@v3
        with:
          name: Test Results

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@v2
        with:
          check_name: Test Results
          json_thousands_separator: ','
          junit_files: 'test-*.xml'
