name: Tests CI

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

concurrency:
  group: tests-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  ERC20Contract:
    name: ERC20 Contract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ERC20

  ERC721Contract:
    name: ERC721 Contract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ERC721

  ERC1155Contract:
    name: ERC1155 Contract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ERC1155

  TokenCreateContract:
    name: Token Create Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenCreateContract

  TokenQueryContract:
    name: Token Query Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenQueryContract

  TokenManagmentContract:
    name: Token Managment Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenManagmentContract

  TokenTransferContract:
    name: Token Transfer Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: TokenTransferContract

  Proxy:
    name: Proxy Upgrade Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: Proxy

  SafeHTS:
    name: SafeHTS Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: SafeHTS

  HIP583:
    name: HIP583 Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: HIP583

  Multicall:
    name: Multicall Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: Multicall

  HRC:
    name: HRC Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: HRC

  ShanghaiOpcodes:
    name: ShanghaiOpcodes Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ShanghaiOpcodes

  PrngSystemContract:
    name: PrngSystemContract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: PrngSystemContract

  BLSSignatureVerification:
    name: BLS Signature Verification Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: BLSSignature

  CryptoAllowance:
    name: CryptoAllowance Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: CryptoAllowance

  PublishResults:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - ERC20Contract
      - ERC721Contract
      - ERC1155Contract
      - TokenCreateContract
      - TokenQueryContract
      - TokenManagmentContract
      - TokenTransferContract
      - Proxy
      - SafeHTS
      - HIP583
      - Multicall
      - HRC
      - ShanghaiOpcodes
      - PrngSystemContract
      - BLSSignatureVerification
      - CryptoAllowance

    runs-on: smart-contracts-linux-large
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Download Test Reports
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          pattern: Test Results (*)
          merge-multiple: true

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@4519d7c9f71dd765f8bbb98626268780f23bab28 # v2.17.0
        with:
          check_name: Test Results
          json_thousands_separator: ','
          junit_files: 'test-*.xml'
