name: Tests CI

on:
  push:
    branches: [main, develop]
  pull_request:
  workflow_dispatch:

env:
  RELAY_IMAGE_TAG: 0.9.0
  NETWORK_NODE_IMAGE_TAG: 0.30.0-alpha.2
  HAVEGED_IMAGE_TAG: 0.30.0-alpha.2
  MIRROR_IMAGE_TAG: 0.64.0
  LIMIT_DURATION: 60000
  TIER_2_RATE_LIMIT: 800
  TIER_3_RATE_LIMIT: 1600

jobs:

  tests:

    name: Tests

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 16.x ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Docker Compose
        run: |
          sudo curl -SL -o /usr/local/bin/docker-compose https://github.com/docker/compose/releases/download/1.29.2/docker-compose-Linux-x86_64
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Start the local node
        run: npx hedera start -d --network local

      - name: Run the tests
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 10
          retry_wait_seconds: 60
          command: npx hardhat test

      - name: Stop the local node
        run: npx hedera stop