name: Reusable test workflow

on:
  workflow_call:
    inputs:
      testfilter:
        required: true
        type: string

env:
  RELAY_IMAGE_TAG: main
  NETWORK_NODE_IMAGE_TAG: 0.37.0-alpha.0
  HAVEGED_IMAGE_TAG: 0.37.0-alpha.0
  MIRROR_IMAGE_TAG: 0.78.0-beta.1

jobs:
  acceptance-workflow:
    runs-on: ubuntu-latest
    timeout-minutes: 35
    strategy:
      fail-fast: false

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js [18.x]
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Start the local node
        run: npx hedera start -d --network local
        timeout-minutes: 5

      - name: Run the test in ${{ inputs.testfilter }}
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 16
          retry_wait_seconds: 60
          command: npx hardhat test --grep ${{ inputs.testfilter }}

      - name: Stop the local node
        run: npx hedera stop
