name: Reusable test workflow

on:
  workflow_call:
    inputs:
      testfilter:
        required: true
        type: string
      networkTag:
        required: false
        type: string
      mirrorTag:
        required: false
        type: string
      relayTag:
        required: false
        type: string

defaults:
  run:
    shell: bash

jobs:
  acceptance-workflow:
    runs-on: [self-hosted, Linux, large, ephemeral]
    timeout-minutes: 35
    strategy:
      fail-fast: false

    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: Use Node.js [18.15]
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18.15
          cache: npm

      - name: Create .env file
        run: cp local.env .env

      - name: Install dependencies
        run: npm ci

      # This step is required to avoid "HardhatFoundryError: Couldn't run `forge`"
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@8f1998e9878d786675189ef566a2e4bf24869773 # v1.2.0
        with:
          version: nightly

      - name: Start the local node
        run: npx hedera start -d --network-tag=${{inputs.networkTag}} --mirror-tag=${{inputs.mirrorTag}} --relay-tag=${{inputs.relayTag}} --verbose=trace
        timeout-minutes: 5

      - name: Run the test in ${{ inputs.testfilter }}
        run: npx hardhat test --grep ${{ inputs.testfilter }}

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: Test Results
          path: test-*.xml

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@1e01e49081c6c4073913aa4b7980fa83e709f322 # v2.3.0
        if: ${{ !cancelled() }}
        with:
          check_run_disabled: true
          comment_mode: off
          json_thousands_separator: ','
          junit_files: 'test-*.xml'

      - name: Stop the local node
        if: ${{ !cancelled() }}
        run: npx hedera stop
