name: Reusable test workflow

on:
  workflow_call:
    inputs:
      testfilter:
        required: true
        type: string

jobs:
  acceptance-workflow:
    runs-on: [self-hosted, Linux, large, ephemeral]
    timeout-minutes: 35
    strategy:
      fail-fast: false

    permissions:
      contents: write
      checks: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js [18.15]
        uses: actions/setup-node@v3
        with:
          node-version: 18.15
          cache: npm

      - name: Create .env file
        run: cp local.env .env

      - name: Install dependencies
        run: npm ci

      # This step is required to avoid "HardhatFoundryError: Couldn't run `forge`"
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Start the local node
        run: npx hedera start -d --network local
        timeout-minutes: 5

      - name: Run the test in ${{ inputs.testfilter }}
        run: npx hardhat test --grep ${{ inputs.testfilter }}

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Test Results
          path: test-*.xml

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@v2
        if: ${{ !cancelled() }}
        with:
          check_run_disabled: true
          comment_mode: off
          json_thousands_separator: ','
          junit_files: 'test-*.xml'

      - name: Stop the local node
        if: ${{ !cancelled() }}
        run: npx hedera stop
