name: Update HederaResponseCodes.sol

on:
  workflow_dispatch:

jobs:
  parse-and-update-hedera-response-codes:
    name: Make HederaResponseCodes up-to-date with the latest protobufs
    runs-on: smart-contracts-linux-large

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive

      - name: Use Node.js [20]
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Install Foundry
        uses: step-security/foundry-toolchain@ced99da5c56c695ce707ab2715ca678d6e8a7038 # v1.4.0
        with:
          version: stable

      - name: Parse and update response codes
        run: node scripts/hedera-response-codes-protobuf-parser.js

      - name: Compile the contracts
        run: npx hardhat compile

      - name: Import GPG Key
        id: gpg_importer
        uses: step-security/ghaction-import-gpg@c86c374c0659a6c2d1284bccf8af889e73ce8fe0 # v6.3.0
        with:
          git_commit_gpgsign: true
          git_tag_gpgsign: true
          git_user_signingkey: true
          gpg_private_key: ${{ secrets.GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}

      - name: Install jq
        run: sudo apt-get install jq

      - name: Fetch and set the milestone as env variable
        run: |
          echo "PR_MILESTONE=$(curl -s https://api.github.com/repos/hashgraph/hedera-smart-contracts/milestones | jq '.'[0].number)" >> $GITHUB_ENV

      - name: Create Pull Request Target hedera-smart-contracts Repository
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: HederaResponseCodes-Periodical-Update/${{ github.run_id }}
          commit-message: 'chore: update HederaResponseContract.sol with the latest protobufs'
          committer: ${{ steps.gpg_importer.outputs.name }} <${{ steps.gpg_importer.outputs.email }}>
          add-paths: contracts/system-contracts/HederaResponseCodes.sol
          author: ${{ steps.gpg_importer.outputs.name }} <${{ steps.gpg_importer.outputs.email }}>
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          delete-branch: true
          signoff: true
          milestone: ${{ env.PR_MILESTONE }}
          title: 'chore: update HederaResponseContract.sol with the latest protobufs'
          body: >
            **Description**: <br><br>
            This PR fetches the latest hedera response codes from [hedera-services:main/hapi/hedera-protobufs/services/response_code.proto](https://github.com/hashgraph/hedera-services/blob/main/hapi/hedera-protobufs/services/response_code.proto) and put them into `HederaResponseCodes.sol` contract.
          labels: 'internal'
          assignees: 'swirlds-automation'
